<h2>Available drones</h2>
<div>
    {{#each dronesArray}}
        <div>
            <p>Name: {{name}}</p>
            <p>Propellers: {{propellers}}</p>
            <p>Maximun speed: {{maxSpeed}}</p>
            <a href="/drones/{{_id}}/edit">Edit</a>
            <hr>
        </div>
    {{/each }}
</div>
<a href="/drones/create">Create new drone</a>